.listAddBook{
    border-top: 2px solid #001529;
    margin-top: 10px;
    height: 500px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px #0000002e;  /*Насторить неть*/
    overflow-y: scroll;
    /*display: flex;*/
    /*align-items: center;*/
}
.addTitle{
    margin: 0 auto;
    font-size: 50px;
}