.add-book-container {
    width: 80%;
    margin: 0 auto;
}

.add-book-form-btn {
    padding: 7px;
    border: 1px solid #001529;
    background-color: #001529;
    color: aliceblue;
    font-weight: 500;
    margin-top: 2rem !important;
}

.menu{
    display: flex;
    justify-content: space-around;
}




.info_add_book{
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.total{
    font-size: 20px;
    color: red;
    margin-left: 5px;
}
