
.input-search-wrapper {
    box-shadow: 0 0 10px rgba(135, 75, 160, 0.5);
    border-radius: 5px;
    color: black;
}

.input-search-wrapper::-webkit-input-placeholder{
    text-overflow: ellipsis;
    color: rebeccapurple;
}

.ant-pagination-item-active a, .ant-pagination-item:hover a, .ant-pagination-next .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link:hover {
    color: #4b6eb9;
}

.ant-pagination-item-active, .ant-pagination-item:hover, .ant-pagination-next .ant-pagination-item-link:hover {
    border: 1px solid #4b6eb9;
}

.ant-btn:hover, .ant-input:hover {
    border: 1px solid #4b6eb9 !important;
}

.table-list-book {
    margin-top: 50px;
    overflow-x: auto;
    display: block;
}

.list-filter {
    display: flex;
    justify-content: space-between;
}
.list-book-cards{
    margin-bottom: 1em;
}
.card-book_a{
    padding-bottom: 0;
}
.card-book_a .ant-card-head{
    background-color: #4b6eb9 !important;
    color: white;
    font-size: large;
    font-style: italic;
}
.my-book-header{
    text-align: center;
    font-size: 2.5em;
    max-height: 50px;
}
.list-my-book-cards{
    box-shadow: none;
    display: grid !important;
    gap: 5em;
}
.card-book_a p{
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
}
.card-book_a > .ant-card{
    background-color: #FFFAFA !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    height: max-content;
}
@media (max-width: 799px) {
    .table-list-book {
        display: none;
    }

    .list-filter {
        grid-gap: 10px;
    }
    .list-my-book-cards {
        height: max-content;
        padding: 10px 0;
        display: grid;
        grid-gap: 2em;
        /*grid-template-columns: repeat(2, 100%);*/
        /*grid-auto-columns: 50%;*/
        /*grid-auto-flow: row;*/
    }
}
@media (max-width: 500px) {
    .ant-card-head-title{
        white-space: normal !important;
        font-size: larger;
        text-align: center;
    }
}

Spinner{
    display: flex;

}


