.card-book{
    display: none;
}

@media (max-width: 799px) {
    .card-book{
        display: grid;
    }
    .card-book{
        padding: 10px 0;
        display: grid;
        grid-gap: 15px;
    }
}
