.card-book{
    display: none;
}

@media (max-width: 799px) {
    .card-book{
        display: grid;
    }
    .card-book{
        padding-bottom: 20px;
        display: grid;
        grid-gap: 15px;
    }
}
