.book_item{
    display: flex;
    justify-content: space-between;
}

.ant-typography-expand{
    display: block !important;
    text-align: left !important;
    color: #4b6eb9 !important;
    margin: 0 !important;
}

.ant-card-body{
    text-align: left;
}

.ant-card{
    margin-bottom: 10px;
}
